.chat {
  user-select:text;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($background-color,0.8);
  width: 60rem;
  
  &__header{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    background-color: $background-color;
    padding: 1rem 2rem;
    border: 0.2rem solid $secondary-color;
  }
  
  &__info{
    font-size: 2rem;
    display: flex;
    align-items: center;
    
    & :last-child{
      margin-left: 1rem;
    }
    
    &__tag{
      font-size: 1.6rem;
      color: $tertiory-color;
      font-weight: 200;
    }
  }
  
  &__status{
    font-size: 1.2rem;
    padding: 0.6;
    display: flex;
    align-items: center;
    
    & > * {
      margin-right: 0.8rem;
    }
    
    
    &__group-details{
      cursor: pointer;
      border: none;
      background: none;
      text-decoration: underline;
    }
  }
  
  &__close-button {
    width: 3rem;
    cursor: pointer;
    & .chat--btn {
      width: 100%;
      height: 100%;
    }
  }
  
  &__area {
    position: relative;
    z-index: 1;
    background-color: $background-color;
    // width: 20rem;
    // height: 40rem;
    display: flex;
    flex-direction: column;
    border: 0.2rem solid $secondary-color;
    border-top: none;

    &__view{
      overflow-y: scroll;
      width: 100%;
      height: 40rem;
      flex-grow: 1;
      padding: 0 2rem;
    }

    &__msg{
      width: 100%;
      display: flex;
      justify-self: end;
      border-top: 0.2rem solid $secondary-color;

      &__input{
        border: none;
        background: none;
        border-right: 0.2rem solid $secondary-color;
        flex-grow: 1;
        padding: 1rem;
        overflow-y: scroll;
        outline: none;
      }
      &__send{
        background: none;
        border: none;
        padding: 0.6rem 1.6rem;
       
      }
    }
  }
}