
.chat_room{
    display:flex;
    justify-content:space-between;
    width:100%;
    border:2px solid #000;
    align-items:center;
    padding-left:1rem;
    background-color:rgba(245, 222, 178, 1); 
}
.room-name{
    font-size:1.6rem;
    font-weight:500;
    letter-spacing:0.1rem;
}
.chat_room_control{
    display:flex;
    flex-direction:row;
}
.chat_room_control > *{
    padding:0.2rem;
    border-left:2px solid #000;
}
.chat_room_control .close:hover svg{
    transform:rotate(-180deg); 
    fill:rgba(245, 222, 178, 1);
}
.chat_room_control .close:hover{
    background-color:#000;
}